@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #121212;
  overflow-x: hidden;
}

/* Dark scrollbar styling */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #222;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
  box-sizing: border-box;
}

